{% extends 'layout/layoutNew.html' %}
{% load static %}

{% block 'body' %}

<style>

  .loginCont{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginCont h2{
    font-size: 3em;
  }

  .loginCont input{
    background: transparent;
    border-radius: 0.7em;
    color:white;
    width:100%;
    font-size:1em;
    outline: none;
    border: 2px solid white;
    padding: 0.5em 1em;
  }

  .loginCont form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size:1em;
    
  }

  

  .loginCont button span{
    font-size: 1.3em;
    font-weight: 700;
  }

  .loginCont button{
    background: #FF4A17;
    border: none;
    outline: none;
    padding: 0.3em 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 0.7em;
    cursor: pointer;
    font-size:1em;
  }
  .loginCont button:hover{
    opacity: 0.8;
  }

  .loginInnerCont{
    width: 100%;
    max-width: 31em;
  }
  
  .bottomRegLine{
    font-size:0.9em
  }

  @media (min-width:768px){
    .loginInnerCont{
      font-size:1em;
    }
  }

  </style>

  <!-- Start Hero -->
  <div class="loginCont cs-page_heading cs-style1 cs-center text-center cs-bg">
    <div class="newContainer">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div class="loginInnerCont">
          <div class="cs-section_heading cs-style1" style="margin-bottom: 20px;">
            <h2 class="cs-section_title">Register</h2>
          </div>
          <form id="" action="" method="POST" class="row">
            {% csrf_token %}

            <div class="col-sm-6" style="width: 100%">
              <!--<label class="cs-primary_color">Email*</label>-->
              <input type="email" placeholder="Email" class="cs-form_field" name="email" required>
              <div class="cs-height_20 cs-height_lg_20"></div>
            </div>
            <div class="col-sm-6" style="width: 100%">
              <!--<label class="cs-primary_color">Password*</label>-->
              <input type="password" placeholder="Password" class="cs-form_field" name="password" required>
              <div class="cs-height_20 cs-height_lg_20"></div>
            </div>
            <div class="col-sm-6" style="width: 100%">
              <!--<label class="cs-primary_color">Repeat password*</label>-->
              <input type="password" placeholder="Repeat password" class="cs-form_field" name="repeat_password" required>
              <div class="cs-height_20 cs-height_lg_20"></div>
            </div>

            <select class="howDidSelect" id="source" name="source">
              <option value="" selected disabled>How did you come to know about us?</option>
              <option value="Google AD">Google AD</option>
              <option value="Google SEO">Google SEO</option>
              <option value="Bing">Bing</option>
              <option value="Instagram">Instagram</option>
              <option value="Facebook">Facebook</option>
              <option value="Twitter">Twitter</option>
              <option value="LinkedIn">LinkedIn</option>
              <option value="Friend">Friend</option>
            </select>


            {% if messages %}
                {% for message in messages %}
                  <p style='color: #ff8a8a;' class="errorMessages">{{ message }}</p>
                {% endfor %}
          
                <script>
                  setTimeout(function(){
                    document.querySelectorAll('.errorMessages').forEach(function(message){
                      message.style.display = 'none';
                    });
                  }, 3000);
                </script>
            {% endif %}
            <div class="col-lg-12">
              <button class="cs-btn cs-style1" type="submit">
                <span>Sign up</span>
                <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25.5303 6.53033C25.8232 6.23744 25.8232 5.76256 25.5303 5.46967L20.7574 0.696699C20.4645 0.403806 19.9896 0.403806 19.6967 0.696699C19.4038 0.989593 19.4038 1.46447 19.6967 1.75736L23.9393 6L19.6967 10.2426C19.4038 10.5355 19.4038 11.0104 19.6967 11.3033C19.9896 11.5962 20.4645 11.5962 20.7574 11.3033L25.5303 6.53033ZM0 6.75H25V5.25H0V6.75Z" fill="currentColor"/>
                </svg>
              </button>
              <div id="cs-result"></div>
            </div>
          </form>
          <div class="cs-section_heading bottomRegLine cs-style1" style="margin-top: 50px;">
            <h3 class="cs-section_subtitle">Already have an account? <a href="{% url 'login' %}" style="color:#FF4A17">Log in!</a></h3>
            <h3 class="cs-section_subtitle">
              <svg height="16px" width="16px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                 viewBox="0 0 17.837 17.837" xml:space="preserve">
              <g>
                <path style="fill:#FF4A17;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27
                  c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0
                  L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"/>
              </g>
              </svg>
              I agree to <a href="{% url 'page' slug='terms' %}" style="color:#FF4A17" target="_blank">Terms & Conditions</a> and <a href="{% url 'page' slug='privacy' %}" style="color:#FF4A17" target="_blank">Privacy Policy</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero -->
{% endblock %}
