{% extends 'layout/layout.html' %}
{% load static %}
{% block 'body' %}
  <!-- Start Hero -->
  <div class="cs-page_heading cs-style1 cs-center text-center cs-bg" data-src="{% static 'assets/img/contact_hero_bg.jpeg' %}">
    <div class="container">
      <div class="cs-page_heading_in">
        <h1 class="cs-page_title cs-font_50 cs-white_color">Support</h1>
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active">Support</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- End Hero -->
  <div class="cs-height_150 cs-height_lg_80"></div>
  <div class="container">
    <div class="row">
      <div>
        <div class="cs-height_0 cs-height_lg_40"></div>
        <div class="cs-accordians cs-style1">
          {% for faq in faqs %}
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">{{faq.title}}</h2>
              <span class="cs-accordian_toggle cs-accent_color">
                <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0L7.5 7.5L15 0H0Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian_body">
              <p>{{faq.text}}</p>
            </div>
          </div><!-- .cs-accordian -->
          {% endfor %}
        </div><!-- .cs-accordians -->
      </div>
    </div>
  </div>
  <div class="cs-height_150 cs-height_lg_80"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="cs-section_heading cs-style1">
          <h3 class="cs-section_subtitle">Support</h3>
          <h2 class="cs-section_title">Have a question?</h2>
        </div>
        <div class="cs-height_55 cs-height_lg_30"></div>
        <ul class="cs-contact_info cs-style1 cs-mp0">
          {% include 'partials/contacts.html' %}
        </ul>
        <div class="cs-height_0 cs-height_lg_50"></div>
      </div>
      <div class="col-lg-6">
        <form id="" action="" method="POST" class="row">
          {% csrf_token %}

          <div class="col-sm-6">
            <label class="cs-primary_color">Full Name*</label>
            <input type="text" class="cs-form_field" name="name" required>
            <div class="cs-height_20 cs-height_lg_20"></div>
          </div>
          <div class="col-sm-6">
            <label class="cs-primary_color">Email*</label>
            <input type="email" class="cs-form_field" name="email" required>
            <div class="cs-height_20 cs-height_lg_20"></div>
          </div>
          <div class="col-lg-12">
            <label class="cs-primary_color">Write Details*</label>
            <textarea cols="30" rows="7" class="cs-form_field" name="message" required></textarea>
            <div class="cs-height_25 cs-height_lg_25"></div>
          </div>
          <div class="col-lg-12">
            <button class="cs-btn cs-style1" type="submit">
              <span>Send</span>
              <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.5303 6.53033C25.8232 6.23744 25.8232 5.76256 25.5303 5.46967L20.7574 0.696699C20.4645 0.403806 19.9896 0.403806 19.6967 0.696699C19.4038 0.989593 19.4038 1.46447 19.6967 1.75736L23.9393 6L19.6967 10.2426C19.4038 10.5355 19.4038 11.0104 19.6967 11.3033C19.9896 11.5962 20.4645 11.5962 20.7574 11.3033L25.5303 6.53033ZM0 6.75H25V5.25H0V6.75Z" fill="currentColor"/>
              </svg>
            </button>
            <div id="cs-result"></div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}