a{
    margin: 0;
    padding: 0;
}

.wagtailBlogMainContainer h1{
    font-size: 4em;
    margin: 0.5em 0 0.8em;
    line-height: 1em;   
    text-transform: capitalize;

}

.wagtailBlogMainContainer a{
    color: #ff4a17;
    text-decoration: underline;
    position: relative;
}

.wagtailBlogMainContainer .blogIndexFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.wagtailBlogMainContainer .blogIndexInnerDiv{
    background-color: rgb(18, 18, 18);
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 1em;
    cursor: pointer;
    overflow: hidden;
}


.wagtailBlogMainContainer .imageClass *:not(img:first-of-type)  {
    display: none;
}



.wagtailBlogMainContainer .imageClass{
    aspect-ratio: 1;
}

.wagtailBlogMainContainer img{
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    display: block;
}

.wagtailBlogMainContainer .richtext-image{
    width: 100%;
    height: 100%;
}

.wagtailBlogMainContainer .indexBlocks{
    font-size: min(max(0em,2.8vw), 1.3em);
    padding: 2em;
}
.wagtailBlogMainContainer .indexBlocks h2{
    line-height: 1.3em;
    text-decoration: none!important;
}

.wagtailBlogMainContainer .blogIntro{
    font-size: 0.8em;
    margin-top: 1.5em;
}


.individualBlogs{
    max-width: 800px;
}

.individualBlogs h1{
    font-size: 2.5em;
    color: #f3f3f3;
}

.individualBlogs p{
    color: #e2e2e2;
    margin: 1em 0;
}

.hideOnSmallScreen{
    display: none;
}



.individualBlogsCont{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.individualBlogsCont .richtext-image{
    height: unset;
}


@media (min-width: 800px) {
    .hideOnSmallScreen {
        display: block;
    }

}